/* PURPLE 2 */
.wide .page-section.color,
.boxed .page-section.color > .container {
  background-color: #5815bd;
  border-color: #43108f;
}
/* 1.5 - Typography (section title, links, page dividers)
/* ========================================================================== */
h1 .fa,
h2 .fa,
h3 .fa,
h4 .fa,
h5 .fa,
h6 .fa,
h1 .glyphicon,
h2 .glyphicon,
h3 .glyphicon,
h4 .glyphicon,
h5 .glyphicon,
h6 .glyphicon {
  color: #5815bd;
}
/* Section title
 * -------------------------------------------------------------------------- */
.color .section-title:after {
  background-color: #2d0b61;
}
.color .section-title .fa-stack .fa {
  color: #5815bd;
}
.section-title .rhex {
  background-color: #5815bd;
}
/* Hexagon icon
 * -------------------------------------------------------------------------- */
.rhex {
  background-color: #5815bd;
}
/* Links, Link color
 * -------------------------------------------------------------------------- */
a:hover,
a:active,
a:focus {
  color: #5815bd;
}
.dropcap {
  color: #5815bd;
}
/* 1.6 - Buttons
/* ========================================================================== */
.btn-theme {
  background: #5815bd;
  /* Old browsers */
  background: -moz-linear-gradient(top, #5815bd 0%, #43108f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5815bd), color-stop(100%, #43108f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5815bd 0%, #43108f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #5815bd 0%, #43108f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #5815bd 0%, #43108f 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #5815bd 0%, #43108f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@main-color', endColorstr='@main-color-d10', GradientType=0);
  /* IE6-9 */
  border-bottom-color: #380d78;
}
.btn-theme:hover {
  background: #43108f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #43108f 0%, #380d78 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #43108f), color-stop(100%, #380d78));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #43108f 0%, #380d78 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #43108f 0%, #380d78 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #43108f 0%, #380d78 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #43108f 0%, #380d78 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@main-color-d10', endColorstr='@main-color-d15', GradientType=0);
  /* IE6-9 */
  border-bottom-color: #2d0b61;
}
.color .btn-theme {
  border-left: 1px solid #380d78;
  border-right: 1px solid #380d78;
  border-top: 1px solid #380d78;
}
.color .btn-theme:hover {
  border-color: #380d78;
  border-bottom-color: #2d0b61;
}
.btn-theme-transparent,
.btn-theme-transparent:focus,
.btn-theme-transparent:active {
  border-color: #2d0b61;
}
.btn-theme-grey {
  color: #5815bd;
}
/* 1.7 - Form / Input / Textarea / Select
/* ========================================================================== */
.form-control:focus {
  border-color: #5815bd;
}
.bootstrap-select > .selectpicker:focus {
  border-color: #5815bd;
}
.registration-form .tooltip-inner {
  background-color: #5815bd;
}
.registration-form .tooltip-arrow {
  border-top-color: #5815bd;
}
.registration-form .tooltip.top .tooltip-arrow {
  border-top-color: #5815bd;
}
/* 2.1 - Logo
/* ========================================================================== */
.logo span {
  color: #5815bd;
}
/* 2.3 - Navigation / superfish skin
/* ========================================================================== */
.sf-menu.nav > li > a:hover,
.sf-menu.nav > li > a:focus {
  background-color: #5815bd;
}
.sf-menu a:hover {
  background-color: #5815bd;
}
.sf-menu li.active > a {
  background-color: #5815bd;
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: #5815bd;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: #5815bd;
}
/* 2.5 - Mobile menu
/* ========================================================================== */
@media (max-width: 991px) {
  .mobile-submenu {
    background-color: #5815bd;
  }
}
/* --------------------------------------------------------------------------
 * 3 - Content
 * -------------------------------------------------------------------------- */
/* 3.1 - Slider / Owl sliders
/* ========================================================================== */
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #5815bd;
}
#main-slider.owl-theme .owl-controls .owl-buttons .owl-prev:hover,
#main-slider.owl-theme .owl-controls .owl-buttons .owl-next:hover {
  color: #5815bd;
}
/* Slider Caption
 * -------------------------------------------------------------------------- */
#main-slider .caption-title.main-title span {
  color: #5815bd;
}
#main-slider .slide-words .word {
  color: #5815bd;
}
#main-slider .slide-words .word-meta i {
  color: #5815bd;
}
/* -------------------------------------------------------------------------- */
.form-header {
  background-color: #5815bd;
}
.btn-play .fa {
  color: #5815bd;
}
.btn-play:hover {
  border-color: #5815bd;
}
.btn-play:hover .fa {
  background-color: #5815bd;
}
.slide3:before {
  background-color: rgba(88, 21, 189, 0.7);
}
/* 3.2 - Event description
/* ========================================================================== */
.event-description .media-heading {
  color: #5815bd;
}
/* 3.3 - Image carousel / Owl carousel
/* ========================================================================== */
.img-carousel .owl-controls .owl-page span,
.img-carousel .owl-controls .owl-buttons div {
  background-color: #5815bd;
}
/* 3.4 - Partners carousel / Owl carousel
/* ========================================================================== */
.partners-carousel .owl-carousel div a {
  border-color: #2d0b61;
}
.partners-carousel .owl-prev,
.partners-carousel .owl-next {
  border-color: #5815bd;
  color: #5815bd;
}
.partners-carousel .owl-prev .fa,
.partners-carousel .owl-next .fa {
  color: #5815bd;
}
.partners-carousel .owl-prev:hover,
.partners-carousel .owl-next:hover {
  border-color: #2d0b61;
  color: #2d0b61;
}
.partners-carousel .owl-prev:hover .fa,
.partners-carousel .owl-next:hover .fa {
  color: #2d0b61;
}
/* 3.6 - Schedule
/* ========================================================================== */
.schedule-wrapper .schedule-tabs.lv2 .nav > li.active > a {
  color: #5815bd;
}
.schedule-wrapper .schedule-tabs.lv2 .nav > li.active:before {
  background-color: #5815bd;
}
/* 3.7 - FAQ
/* ========================================================================== */
.row.faq .tab-content {
  border-color: #5815bd;
}
@media (min-width: 768px) {
  .row.faq .nav li.active:before {
    border-right-color: #5815bd;
  }
  .color .row.faq .nav li.active:after {
    border-right-color: #5815bd;
  }
}
.row.faq .tab-content .fa {
  color: #5815bd;
}
.color .row.faq .nav li a {
  border-color: #43108f;
}
.row.faq .nav li.active a,
.row.faq .nav li a:hover {
  border-color: #5815bd;
  color: #5815bd;
}
/* 3.8 - Blog / Post
/* ========================================================================== */
.post-title a:hover {
  color: #5815bd;
}
.post-header .post-meta {
  color: #5815bd;
}
.post-media .post-meta .day {
  color: #5815bd;
}
.post-header .post-meta a:hover {
  color: #5815bd;
}
.post-readmore a:hover,
.post-readmore a:focus {
  color: #5815bd;
}
.about-the-author .media-heading {
  color: #5815bd;
}
.staff-tabs > ul > li.active > a,
.staff-tabs > ul > li > a:hover {
  background: none repeat scroll 0 0 #5815bd;
  border-bottom-color: #2d0b61;
}
.timeline .post-title {
  color: #5815bd;
}
.timeline .post-title a {
  color: #5815bd;
}
.timeline .post-meta a .fa {
  color: #5815bd;
}
.timeline .employee-projects li:before {
  color: #5815bd;
}
/* 3.9 - Comments
/* ========================================================================== */
.comments-form .block-title {
  color: #5815bd !important;
}
/* 3.10 - Pagination / Pager
/* ========================================================================== */
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #5815bd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #5815bd;
  border-color: #5815bd;
}
/* Categories
/* ========================================================================== */
.widget.categories li.active a,
.widget.categories li a:hover {
  background-color: #5815bd;
}
/* flickr feed
/* ========================================================================== */
.widget.flickr-feed li a:hover {
  border-color: #5815bd;
}
/* Tag-cloud
/* ========================================================================== */
.tag-cloud a:hover {
  background-color: #5815bd;
  border-color: #5815bd;
}
/* 3.12 - Thumbnails / Features
/* ========================================================================== */
.thumbnail.hover,
.thumbnail:hover {
  border-color: #5815bd;
}
/* Thumbnail caption
 * -------------------------------------------------------------------------- */
.thumbnail .caption.hovered {
  background-color: rgba(88, 21, 189, 0.6);
}
/* Caption elements
 * -------------------------------------------------------------------------- */
.caption-category a {
  color: #5815bd;
}
.caption-redmore {
  color: #5815bd;
}
/* 3.13 - Media / Testimonials
/* ========================================================================== */
.testimonial .media-heading small {
  color: #5815bd;
}
.testimonials.owl-theme .owl-dots .owl-dot span {
  background-color: #5815bd;
}
.testimonials.owl-theme .owl-dots .owl-dot.active span,
.testimonials.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #380d78;
}
/* 3.14 - Difference
/* ========================================================================== */
.differences > div:hover .difference-head i {
  border-color: #5815bd;
  color: #5815bd;
}
.difference-head div {
  color: #5815bd;
}
/* 3.15 - Isotope
/* ========================================================================== */
.projects .caption-buttons a:hover {
  color: #5815bd;
}
/* Filter
/* ========================================================================== */
.filtrable .current a,
.filtrable .active a,
.filtrable .current a:hover,
.filtrable .active a:hover,
.filtrable a:hover {
  background: #5815bd;
  border-bottom: 2px solid #2d0b61;
}
/* 3.17 - Features
/* ========================================================================== */
.feature:hover i {
  border-color: #5815bd;
  color: #5815bd;
}
/* 3.18 - Featured Projects
/* ========================================================================== */
.featured-info {
  background-color: #5815bd;
  background-color: rgba(88, 21, 189, 0.9);
  border-color: #2d0b61;
}
/* 4 - Footer
/* ========================================================================== */
.footer a:hover {
  color: #5815bd;
}
.footer .recent-news span {
  color: #5815bd;
}
.footer .recent-tweets small {
  color: #5815bd;
}
.footer-widget.instagram a:hover img {
  border-color: #5815bd;
}
/* 5 - Widgets / Shortcodes
/* ========================================================================== */
.sidebar .widget-title {
  color: #5815bd;
}
.widget-title:before {
  background-color: #5815bd;
}
/* 5.2 - Contact form / af-form
/* ========================================================================== */
#af-form .alert {
  border-color: #5815bd;
  background-color: #5815bd;
}
/* 5.4 - Price table
/* ========================================================================== */
.price-value {
  background-color: #5815bd;
  border-bottom-color: #2d0b61;
}
.price-table-row i {
  color: #5815bd;
}
.price-table:hover,
.price-table.featured {
  border-color: #5815bd;
}
.price-table.featured:before {
  background-color: #5815bd;
}
/* 5.5 - Google map
/* ========================================================================== */
.container.gmap-background .on-gmap.color {
  background-color: #5815bd;
}
/* 5.8 - Back to top button
/* ========================================================================== */
.to-top:hover {
  color: #5815bd;
}
/* --------------------------------------------------------------------------
 * 6 - Helper Classes
 * -------------------------------------------------------------------------- */
.btn-preview-light,
.btn-preview-light:hover {
  background-color: #5815bd;
}